:root {
    --text_white: #FFFFFF;
    --text_red : #E02318;
    --sub_text_red: #E2231A;
    --text_black: #000000;
    --text_blue: #03628A;
    --text_gray: #D6D5D0;

    --background_red: #E2231A;
    --background_white: #F5F4F0;
    --background_blue: #078BC3;
    
    --border_red: #BF1F17;    
}

@font-face {
    font-family: "bebasNeue";
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);    
}

@font-face {
    font-family: "cabin";
    src: url(../fonts/Cabin/static/Cabin-Regular.ttf);
}

@font-face {
    font-family: "heptaSlab";
    src: url(../fonts/Hepta_Slab/static/HeptaSlab-Regular.ttf);
}

@font-face {
    font-family: "permanentMarker";
    src: url(../fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}

body {
    font-family: "bebasNeue";
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
}

.video {
    position: absolute;
    width: 150%;
    top: 0;
    z-index: -1;
    margin-left: 1rem;
}

/* _____________LOGO TOP_____________ */

.logo_top {
    background-color: var(--background_white);
    background-image: url("../images/img_header/Logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(100% - 3rem);
    
    width: 16.25rem;
    height: 8.28rem;

    margin: 0.91rem 0 0.91rem 9rem;
    text-align: center;
    display: inline-block;

    & a {
        color: transparent;
        margin-top: 3rem;
        margin-left: -6rem;
        font-size: 2rem;
        position: absolute;
        z-index: 0;
    }

    & p {
        color: var(--sub_text_red);
        font-size: 0.54rem;
        text-align: center;
        text-transform: uppercase;
        font-family: "heptaSlab";
        margin-top: 6.5rem;
    }
}

/* _____________TEXT ABOVE NAVIGATION_____________ */

.topbar {
    color: var(--text_white);
    font-size: 0.8125rem;
    padding: 1.28rem 0 0 8.25rem;
    font-weight: 700;
    }

.topbar p  {
    font-family: "cabin";
    display: inline-block;
}

.topbar a {
    text-decoration: underline;
    padding-left: 0.5rem;
    color: var(--text_white);

    &:visited {
        color: var(--text_white);
        text-decoration: underline;
    }
}

/* _____________NAVIGATION_____________ */

.navigation-container {
    display: flex;
    align-items: flex-start;
    gap: 0;
}

.dropdown {
    margin: 0.91rem 0;
    flex: 1;
}

.navigation {
    position: relative;
    width: 100%;  
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tickets_style {
    background-color: var(--background_red);
}

.navigation_block {
    background-color: var(--background_white);
    height: 8.278rem;
}

.navigation_block > a {
    display: block;
    padding: 1.5rem 3rem;
    text-decoration: none;
    color: var(--text_black);
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.1324rem;
}

.navigation_block:hover > a {
    color: var(--text_red);
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0.5rem 0;
    margin-top: -3.5rem;
    box-sizing: border-box;
    list-style: none;
    background-color: var(--background_white);
    white-space: nowrap;
    gap: 2rem;
    max-height: 8rem;
    z-index: 1;
}

.submenu li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--text_black);
    font-size: 0.85rem;
    font-weight: 400;
    letter-spacing: 0.0844rem;
}

.submenu li a:hover {
    color: var(--text_red);
}

.navigation_block:hover > .submenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    width: 40rem;
    left: 0;

}

/* _____________STICKY TICKET BUTTON_____________ */

.sticky_tickets {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.circle_tickets {
    background-color: var(--background_red);
    border-radius: 50%;
    padding: 0.5rem;
    z-index: 1;
}

.text_tickets {
    background-color: var(--background_white);
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 0.8438rem;
    letter-spacing: 0.2rem;
    margin-right: -2rem;
    z-index: 0;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.sticky_tickets:hover .text_tickets {
    opacity: 1;
    visibility: visible;
}

/* _____________SOCIALS BUTTONS_____________ */

.socials_homepage {
    position: relative;
    left: 2rem;
    top: 20rem;
    z-index: 1;
    display: block;
}

/* _____________HAND HOMEPAGE_____________ */

.header_hand {
    background-image: url("../images/img_header/Group13.svg");
    background-repeat: no-repeat;
    background-position: center;

    width: 4.236rem;
    height: 9rem;

    margin: auto;
    margin-top: 9.38rem;
}

.header_image_hand {
    display: grid;
    grid-template-columns: auto 4.5rem auto;
    align-items: center;
    gap: 4rem;

    position: absolute;
    inset: 0;
    margin: auto;
    width: max-content;
    height: max-content;
}

.header_block {
    text-align: center;
    text-decoration: none;
    color: var(--text_white);
    text-transform: uppercase;
    margin-top: 11rem;
}

.header_text_small {
    font-size: 1rem;
    letter-spacing: 0.2222rem;
    display: block;
}

.header_text_big {
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.3889rem;
    display: block;
}

.header_text_big, .header_text_small {
    color: var(--text_white);
    -webkit-text-stroke: 1px var(--text_black);
}


/* _____________BEERS HOMEPAGE_____________ */

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: auto; */
    margin-top: 23rem;
    width: 81rem;
    /* padding: 3rem; */
    background-color: var(--background_white);

}

.beers_homepage {
    display: grid;
    justify-items: center;
    background-color: var(--background_white);
    padding-top: 5rem;
    position: relative;
    text-align: center;
    overflow: visible;

    & a {
        color: var(--text_red);
        text-decoration: none;
        letter-spacing: 0.1544rem;
        font-size: 1.3125rem;
    }

    & .underline {
        src: url(../images/img_main/line5.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 5rem;
        height: 5rem;
        text-align: center;
        z-index: 2;
    }
}

.letter_t {
    background-image: url(../images/img_main/T.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 3rem;

    width: 35rem;
    height: 28rem;
    z-index: 1;

    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
}

.tripel_danvers {
    position: relative;
    z-index: 2;
    width: 12.4rem;
    height: auto;
    margin: auto;
    margin-top: -3rem;
}


/* _____________DISCOVER BEERS CITYBREWERY_____________ */

/* _____________HARMONY AFTERWORK_____________ */

.feed_items {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.harmony_afterwork {
    background-image: url(../images/img_main/Date.png);
    background-color: var(--background_red);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: calc(100% - 18rem);


    width: 22.5rem;
    height: 22.4375rem;

    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
}
/* _____________VELODOME_____________ */

.velodome {
    background-image: url(../images/img_main/Bike.png);
    background-repeat: no-repeat;
    background-position: center top;

    width: 22.5rem;
    height: 22.4375rem;

    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}

/* _____________WILD JO'S MARKET_____________ */

.wildjos_market {
    background-image: url(../images/img_main/koninck_market.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 150%;

    width: 45rem;
    height: 45rem;

    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* _____________SILENT DISCO_____________ */
/* _____________INTERACTIVE TOUR_____________ */
/* _____________FRESH TAPPED_____________ */
/* _____________YOUR EVENT_____________ */
/* _____________FOOTER_____________ */