:root {
    --text_white: #FFFFFF;
    --text_red : #E02318;
    --sub_text_red: #E2231A;
    --text_black: #000000;
    --text_blue: #03628A;
    --text_gray: #D6D5D0;

    --background_red: #E2231A;
    --background_white: #F5F4F0;
    --background_blue: #078BC3;
    
    --border_red: #BF1F17;


    
    
}